*{
    box-sizing: border-box;
}
 div .picture{
    position: relative;
    
}
.container .picture{
    height: 368px;
    width: 658px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-top: 20px;
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    transition: all 1s ease-out;
    
    
} 

.container .picture h1{
    position: absolute;
    text-transform: uppercase;
    color: #fff;
    background-color: black;
    width: 658px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    opacity: 0;
    padding: 10px;
    transition: all 2s ease-out;
}
.container .picture:hover{
    border-color: black;
}

.container .picture h1:hover{
    opacity: 1;
    height: 60px;
    font-size: 40px;
}

.container .picture::before{
    content: "";
    border: 2px solid black;
    color: black;
    height: 364px;
    right: 4px;
    position:relative;

    

    
}


.container .picture::after{
    content: "";
    border:2px solid black;
    height: 364px;
    width: 1px;
    left: 4px;
    position: relative;
    
    
    
}



